<div class="row">
  <div class="span12">

    <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to 'Collections', collections_path %> <span class="divider">/</span>
      </li>
      <li class="active">
        <%= @collection.name %>
      </li>
    </ul>

    <ul class="thumbnails">
      <% @products.each do |product|  %>
        <li class="span4">
          <%= link_to(product, { 'class' => 'thumbnail' }) do %>
            <%= image_tag product.thumbnail, :alt => product.name, :size => '350x250' %>
          <% end %>
          <div class="thumbnail-desc">
            <h3><%= product.name %></h3>
            <%= simple_format(truncate(product.description, :separator => ' ', :length => 140, :omission => '&nbsp;...')) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>
