<div class="row">
  <div class="span8">

    <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to 'Collections', collections_path %> <span class="divider">/</span>
      </li>
      <li class="active">
        <%= @collection.name %>
      </li>
    </ul>

    <ul class="thumbnails">
      <% @products.each_with_index do |product, i|  %>
        <li class="span2">
          <%= link_to(product, { 'data-target' => "#product#{i}", 'class' => 'thumbnail' }) do %>
            <%= image_tag product.thumbnail, :alt => product.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="span4">
    <div class="tab-content">
      <% @products.each_with_index do |product, i|  %>
        <div class="tab-pane<% if i == 0 %> active<% end %>" id="product<%= i %>">
          <h3><%= product.name %></h3>
          <%= simple_format product.description %>
        </div>
      <% end %>
    </div>
  </div>
</div>
