<% if @matches.length > 0 %>
  <% @matches.each do |product| %>
    <div class="row">
      <div class="span2">
        <ul class="thumbnails">
          <li>
            <%= link_to product, :class => 'thumbnail' do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
    	  </li>
        </ul>
      </div>
      <div class="span10">
        <h3><%= link_to product.name, product %></h3>
        <p>
          <em><%= truncate(product.description, :separator => ' ', :length => 140, :omission => ' ...') %></em>
          <em><%= link_to 'continued', product %></em>
        </p>
        <p><%= link_to('Buy Now on etsy.com', product.etsy_url, { :class => 'btn btn-primary' }) %></p>
      </div>
    </div>
  <% end %>

<% else %>
  <p>No matches</p>
<% end %>
