<div class="row">
  <div class="span8">

    <ul class="breadcrumb">
      <li>
        <%= link_to 'Home', :root %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to @product.product_range.name, @product.product_range %> <span class="divider">/</span>
      </li>
      <li>
        <%= link_to @product.collection.name, @product.collection %> <span class="divider">/</span>
      </li>
      <li class="active">
        <%= @product.name %>
      </li>
    </ul>

    <div class="narrow-image">
      <%= link_to(asset_url(@product.image1), { 'class' => 'thumbnail' }) do %>
        <%= image_tag @product.image1, :alt => 'First product image' %>
      <% end %>
    </div>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag @product.image1, :alt => 'First product image' %>
          <div class="carousel-caption">
            <h4><%= @product.name %></h4>
            <p><%= @product.carousel_detail1 %></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag @product.image2, :alt => 'Second product image' %>
          <div class="carousel-caption">
            <h4><%= @product.name %></h4>
            <p><%= @product.carousel_detail2 %></p>
          </div>
        </div>
        <div class="item">
          <%= image_tag @product.image3, :alt => 'Third product image' %>
          <div class="carousel-caption">
            <h4><%= @product.name %></h4>
            <p><%= @product.carousel_detail3 %></p>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    
    <div id="social">
      <div id="facebook" data-likeurl="<%= request.url %>">
        <a href="http://www.facebook.com/BrightonBelles">facebook.com/BrightonBelles</a>
      </div>

      <a href="https://twitter.com/share" class="twitter-share-button twitter-widget"
         data-text="I love this <%= @product.name %>" data-via="BellesBulletin" data-count="horizontal">Tweet</a>

      <a href="http://pinterest.com/pin/create/button/?url=<%= u request.url %>&amp;media=<%= u asset_url(@product.image1) %>&amp;description=<%= u 'Brighton Belles - Their Amazing ' + @product.name + '!' %>"
         class="pin-it-button" data-count-layout="horizontal">Pin It</a>
    </div>

  </div>

  <div class="row">
    <div class="span4">
      <h3><%= @product.name %></h3>
      <%= simple_format @product.description %>

      <div class="narrow-image">
        <%= link_to(asset_url(@product.image2), { 'class' => 'thumbnail' }) do %>
          <%= image_tag @product.image2, :alt => 'Second product image' %>
        <% end %>
        <%= link_to(asset_url(@product.image3), { 'class' => 'thumbnail' }) do %>
          <%= image_tag @product.image3, :alt => 'Third product image' %>
        <% end %>
      </div>

      <h3 class="price"><%= number_to_currency(@product.price) %></h3>

      <div class="buy_button">
        <%= tracked_link_to 'Buy Now on etsy.com', @product.etsy_url, { :class => 'btn btn-large btn-primary', :event_type => 'Product Buy Button', :target => '_blank' } %>
      </div>

      <h3>Other <%= @range.name %></h3>
      <ul class="thumbnails">
        <% @range_products.each do |product| %>
          <li class="span2">
            <%= link_to(product, { 'class' => 'thumbnail' }) do %>
              <%= image_tag product.thumbnail, :alt => product.name %>
            <% end %>
            <p><%= link_to product.name, product %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
